* {
  font-family: 'Montserrat' , sans-serif;
}
#root {
  max-width: 1280px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #fff;
}
.notFoundContainer a {
  text-decoration: underline;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.linkToHome a{
  text-decoration: underline;
}
.app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: inherit;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.banner {
  width: 94%;
  height: 223px;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  position: relative;
  margin-bottom: 35px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.bannerImg {
  display: flex;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  filter: brightness(0.5);
}
.bannerText {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.imgText {
  display: block;
  position: absolute;
  top: 30%;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  color: #fff;
}
.cardsContainer {
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  border-radius: 16px;
  margin-bottom: 20px;
}
.card {
  background-color: #ff6060;
  height: 250px;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 1;
}
.cardImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.cardText {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  margin-left: 10px;
}
.linkToDetail {
  width: 30%;
  height: 100%;
  text-decoration: none;
  display: block;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 209px;
  position: absolute;
  left: 0;
  bottom: 30;
}
/* card details page */
.cardDetailTitle {
  color: #000;
  display: flex;
}
.cardDetailPageContainer {
  display: flex;
  flex-direction: column;
  height: 1024px;
  padding: 20px;
}
.carouselContainer {
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  justify-content: center;
  height: 40%;
  width: 100%;
  position: relative;
}
.carouselImage {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  position: relative;
}
.arrowRight {
  position: absolute;
  background-color: transparent;
  align-self: center;
  right: 1%;
  top: 33%;
  border: none;
  outline: none;
}
.arrowRight:hover {
  opacity: 0.5;
  border: none;
  outline: none;
}
.arrowLeft {
  position: absolute;
  background-color: transparent;
  align-self: center;
  left: 1%;
  top: 33%;
  z-index: 30;
  border: none;
  outline: none;
}
.arrowLeft:hover {
  opacity: 0.5;
  text-decoration: none;
  border: none;
  outline: none;
}
.arrowLeft:focus {
  border: none;
  outline: none;
}
.arrowRight:focus {
  border: none;
  outline: none;
}
.cardsCaption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.cardsCaption h2 {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
}
.appartTags{
  display: flex;
  flex-direction: column;
}
.cardDetailTitle {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.location {
  color: #000;
  font-weight: 500;
  font-size: 18px;
}
.hostRatings{
  display: flex;
  flex-direction: column;
}
.ratings{
  margin-top: 10px;
}
.hostInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.hostName {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}
.hostLogo {
  display: flex;
  border-radius: 50%;
  background-color: #888;
  border: #000;
  height: 64px;
  width: 64px;
  align-self: center;
}
.hostPic{
  border-radius: 50%;
}
.reviewPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tagsPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}
.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ff6060;
  color: #fff;
  width: 15%;
  border-radius: 30px;
  font-weight: 700;
}

.ratingsPanel {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Arrow {
  transition: transform 0.3s ease;
}
.Arrowrotate {
  transform: rotate(180deg);
}

.dropinText.open {
  display: flex;
  max-height: 400px;
  opacity: 1;
  margin-bottom: 20px;
}
.dropinText.closed{
  max-height: 0;
  opacity: 0;
}
.descEquip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

/* About page*/
.dropinContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  height: 560px;
  padding: 30px;
  margin-bottom: 70px;
  align-self: center;
}
.dropin-closed {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.dropin-open {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;

  
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6060;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 9px;
  z-index: 90;
}
.description {
  font-size: 18px;
  max-height: 200px;
  overflow-y: auto;
}
.equipment-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.equipment-item {
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  font-size: 18px;
}
/*not found page */
.notFound {
  width: 597px;
  height: 263px;
  color: #ff6060;
  padding: 30px;
}

summary::-webkit-details-marker {
  display: none;
}
.dropinText {
  display: flex;
  justify-content: left;
  padding: 20px;
  background-color: #f6f6f6;
  color: #000;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}
.fa-solid {
  display: flex;
  color: #fff;
  font-size: 24px;
}
.fa-chevron-up {
  color: #fff;
  font-size: 24px;
}
.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 30px;
  margin-bottom: 35px;
}
.NotfoundText {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  line-height: 143%;
  letter-spacing: 0%;
  vertical-align: bottom;
  padding: 30px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footerImg {
  color: #fff;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}
/* Styles for tablets and smaller */

@media (max-width: 1024px) {
  main{
    align-items: center;
  }
  .homeContainer {
    width: 93%;
    justify-content: center;
    align-self: center;
  }
  .cardsContainer {
    width: 95%;
    align-self: flex-end;
  }
  .linkToDetail {
    flex-wrap: wrap;
    display: flex;
    width: auto;
  }
  .cardDetailPageContainer {
    width: 94%;
    padding: 20px;
    align-items: center;
  }
  .arrowRight {
    right: 1%;
    top: 35%;
  }
  .arrowLeft {
    left: 1%;
    top: 35%;
  }
  .cardsCaption {
    flex-wrap: nowrap;
    width: 100%;
  }
  .cardDetailTitle {
    align-items: start;
    font-size: 18px;
  }
  
  .tagsPanel {
    width: 100%;
  }
  .tag {
    width: 10%;
    padding-right: 5px;
    padding-left: 5px;
  }
  .reviewPanel{
    width: 100%;
    justify-content: space-between;
    gap: 20%;
    margin-bottom: 40px;
    
  }
  .descEquip{
    justify-content: space-around;
    width: 100%;
  }
  .dropinContainer{
    align-self: center;
    padding-left: 7%
  }
  .dropin-open{
    height: auto;
  }
  .dropinText{
    height: auto;
  }
}
@media(max-width:768px) {
  .root{
    max-width: 100%;
  }
  main{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app-header{
    padding-left: 0;
    padding-right: 0;
    width: 95%;
    justify-content: center;
  }
  .homeContainer{
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .logo{
    font-size: 8px;
  }
  .navbar{
    gap: 16px;
    font-size: 14px;
    align-items: center;
  }
  .imgText{
    font-size: 30px;
  }
  .cardDetailPageContainer{
    align-items: baseline;
  }
  .cardsContainer{
    width: 90%;
    align-self: center;
  }
  
  .arrowLeft img{
    width: 40px;
    height: 40px;
  }
  .arrowRight img{
    width: 40px;
    height: 40px;
  }
  .carouselContainer{
    height: 30%
  }
  .arrowLeft{
    top: 40%
  }
  .arrowRight{
    top: 40%
  }
  .tag{
    border-radius: 5px;
    font-size: 15px;
  }
  .cardsCaption{
    flex-direction: column;
    align-items: baseline;
    gap: 0;
  }
  .reviewPanel{
    width: inherit;
    margin-bottom: 0;
  }
  .descEquip{
    flex-direction: column;
    gap: 0px;
  }
  .ratingsPanel{
    width: 15px;
    height: 15px;
  }
  .cardsCaption h2{
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0;
    font-size: 18px;
    
  }
  .location{
    font-size: 14px;
  }
  .hostRatings{
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    
  }
  .ratings{
    width: 100%;
    margin-top: 20px;
  }
  .description{
    overflow-y: auto
  }
  .dropinText{
    overflow-y: auto;
    height: auto;
    transform: translateY(0px);
    transition: all 0.5s ease;
  }
  .notFound{
    width: 200px;
    height: 200px;
    padding: 0%;
  }
  .NotfoundText{
    padding: 0%;
    font-size: 20px;
  }
  .tag{
    width: 100%;
  }
  .hostLogo{
    width: 40px;
    height: 40px;
  }
  .hostName{
    font-size: 14px;
  }
  .summary{
    height: 20px;
    align-items: center;
    font-size: 16px;
    width: 100%;
    align-self: anchor-center;
  }
  .dropinContainer{
    padding: 0;
  }
  .banner{
    height: 150px;
  }
  .dropinText.open{
    width: 93%;
    align-self: center;
  }
}
  

